/* Colors */

/* Main */

$--background: #f4f4f2;
$--background-text: #291e0f;
$--surface: #ffffff;
$--primary-text: #ffffff;
$--secondary-text: #ffffff;
$--surface-text: #414141;
$--primary: #ff6633;
$--secondary: #70c05b;

/* Grayscale */
$--lightest: #f3f2f1;
$--light: #bfbfbf;
$--hard: #8f8f8f;
$--hardest: #606060;

/* Pallete */
$--success: #008c49;
$--info: #1cb9fc;
$--warning: #fca21c;
$--error: #d80000;

/* Typography */

/* Weights */
$--weight-normal: 400;
$--weight-bold: 700;

/* Sizes */
$--size-xs: 12px;
$--size-s: 16px;
$--size-m: 18px;
$--size-l: 24px;
$--size-xl: 36px;
$--header-xs: 18px;
$--header-s: 24px;
$--header-m: 36px;
$--header-l: 48px;
$--header-xl: 64px;